@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@400;500;600;700&display=swap');

body.font-en {
  font-family: 'Montserrat', sans-serif;
}

body.font-ua {
    font-family: 'Arsenal', sans-serif;
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.1);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-bg {
  background: linear-gradient(270deg, #fbe2e3, #dbd7fb);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

/* Для веб-браузеров на основе WebKit (Safari, Chrome, и т.д.) */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a9a9a9;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}


